<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      lang="en">

    <head>
        <title>The Beginning</title>
        <meta name="title"
              content="The Beginning" />
        <meta name="language"
              content="english en" />
        <meta name="author"
              content="Riccardo Agatea" />
        <meta http-equiv="Content-type"
              content="text/html; charset=utf-8" />
        <link rel="icon"
              href="/img/icon/icon.ico"
              type="image/x-icon" />
        <link rel="stylesheet"
              href="../style/stylesheet.css"
              type="text/css" />
    </head>

    <body>

    </body>

</html>
