<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      lang="en">

    <head>
        <title>The Beginning</title>
        <meta name="title"
              content="The Beginning" />
        <meta name="language"
              content="english en" />
        <meta name="author"
              content="Riccardo Agatea" />
        <meta http-equiv="Content-type"
              content="text/html; charset=utf-8" />
        <link rel="icon"
              href="/img/icon/icon.ico"
              type="image/x-icon" />
        <link rel="stylesheet"
              href="../style/stylesheet.css"
              type="text/css" />
    </head>

    <body>
        <h1>The Beginning</h1>
        <p>
            Before all the events that led to this book took place
            Daniel and I were both studying at university: I was
            finishing my last year, Daniel was at the end of his third;
            we were a pretty normal couple living in a small city of the
            Italian coast, before chaos changed our lives, a chaos that
            started many centuries, even millennia, ago. In the past
            couple of years, little by little most of the countries in
            the world had started wars with each other, and the
            relatively small wars had merged in a bigger conflict when
            alliances had started to grow. The result was what some
            people were already calling World War III, a complex
            conflict with many sides, of which the most prominent were
            the North American Union, the Coalition of Eastern Asia and
            the North African Common Republic. The only reason it hadn't
            escalated into nuclear warfare, yet, was that no one of the
            groups knew what was the nuclear power of the others. At the
            same time, the planet was shaken by natural disasters nearly
            every month; because of the war, geologists all over the
            world were unable to share their discoveries, if they ever
            happened to make any, so the only certain thing was that the
            frequency of earthquakes had skyrocketed, and that volcanoes
            were appearing in places where they shouldn't. As had
            happened in other periods of crisis throughout history,
            people started to believe that the end of the world was
            near. Religions gained followers by the thousands.
        </p>
        <p>
            And still, Italy was calm. In a shocking turn of events the
            European Union, that up to mere months before the explosion
            of chaos was crumbling to pieces under the weight of
            corruption, xenophobia and nationalism, had been renewed by
            a wave of youth. A new generation of politicians had gained
            votes appealing to the inaction of their predecessors, and
            then managed to fix the single nations, and consequently the
            Union itself. Thanks to this renewal, when the war started
            getting menacingly close the states were able to organize
            together a line of defense, granting us, as citizens, a
            somewhat stable peace. This new idea of unity saved us and
            the other nations again when Middle East raised the prices
            to unreachable levels and our oil-based society nearly fell:
            the research of alternative energy was financed more than
            ever. By consequence, all the nations in the Union
            benefitted from the shared new low-cost energy production.
            Still, the tension of war was there, and the nations that
            made up the border of Europe, like Italy, were painfully
            aware that the line of defense could not hold forever.
        </p>
        <p>
            In this precarious equilibrium, I was months away from
            getting my Master's degree in Theoretical Physics, and my
            professor had already offered me the opportunity to join a
            multidisciplinary international project in Germany that he
            was involved with. I was thrilled by the opportunity, I
            would meet students from all over Europe and all fields of
            science, while doing research, which was my dream; still,
            this twist of fate came unannounced, while I was deciding
            what to actually do with my life. To go would mean staying
            away from my city for at least three years and maybe more,
            basically leaving my family and my friends behind, and not
            seeing Daniel for months at a time, I was scared that our
            relationship would fall to pieces, with the distance and
            all. My family obviously encouraged me to go, to pursuit my
            dream.
        </p>
        <p>
            "Jake, this is the occasion you've been waiting for since
            you started the university. You'll meet new people, make new
            friends, and over all you'll grow up as a person. In this
            historical moment, with all the stuff going on in the world,
            these occasions are very rare, don't waste the one you've
            been offered," said my mum. My friends were very supportive
            too, but the reaction I feared the most was Daniel's. When I
            told him I was even more nervous than the first time I asked
            him out, with sweating palms and shaking voice.
        </p>
        <p>
            "Sweetie, I need to tell you something." We were at his
            place, sitting on the couch, both covered with a plaid,
            drinking hot chocolate.
        </p>
        <p class="scene-break">
            *
        </p>
        <p>
            I remember that evening! You were being so dramatic… I
            understood that something wasn't right when you put down the
            cup with some chocolate still inside. I've only seen you do
            that in a few occasions, and every time it was something
            big. Well, you were right, I was telling you that in the
            next years we would see each other at most once a month, I
            think that's something big, don't you? Like I told you that
            time, we can… Yes, I remember what you said, give me a
            minute and I get there. Now, where were we?
        </p>
        <p class="scene-break">
            *
        </p>
        <p>
            I put down my cup, and grabbed his hands. "My professor
            offered to save me a spot in ITOWN after I get my degree. If
            I decide to go I'll stay away for at least two years, maybe
            more, and I'll come home once a month, or less," I said in
            one breath. "I don't know if I actually want to go."
        </p>
        <p>
            "Why? It's been your dream since you were a kid, to do the
            real science, and now you don't want to?" Daniel was amazing
            as always.
        </p>
        <p>
            "It isn't that I don't want to go, but I don't want to leave
            you behind. I don't want to wake up one morning and discover
            that I don't love you anymore. I don't want to follow my
            dream if this comes with abandoning you. I just…"
        </p>
        <p>
            "Hey, calm down. You're not leaving me behind. We're both
            young, and if one morning you realize that you don't love
            me, maybe we were not meant for each other; but I think we
            are. We can be on opposite sides of the planet, and we would
            still be a power couple."
        </p>
        <p>
            "So you think I should go?"
        </p>
        <p>
            "Definitely."
        </p>
        <p>
            I leant to kiss him, then I took my cup back.
        </p>
        <p>
            "You know I'll call you every day, right?"
        </p>
        <p>
            "I know, sweetie," Daniel chuckled.
        </p>
        <p>
            After that conversation, my mind was finally settled; I
            started the preparations while still working on my thesis: I
            was finishing the analysis of data coming from the LHC, the
            Large Hadron Collider, and the results I was getting had
            something strange in them. While they were in line with
            theory, there seemed to be a sort of weird interference I
            couldn't explain. My professor agreed with me, and reported
            it to the LHC maintenance, saying that probably there was a
            problem with the isolation of the tunnel. When they checked
            that a problem was actually there, but couldn't find a
            cause, they set on doing some more research; I went on with
            my thesis, and finished it in time to get my degree in
            physics before the end of June. Less than a month after
            that, I was ready to take the train that would take me to an
            EU facility dedicated to scientific research of every field,
            in northern Germany. Scientists from all over Europe were
            called there when the energy crisis started, and in no time
            the International Ecology Centre became the International
            Centre for Natural Studies, and then the Institution for
            Technologic Observation and Withstanding of Nature, ITOWN
            for short. Even after my professor described it very
            thoroughly, the first impression was a shock: it looked like
            a small town, developed around a central white building, the
            original IEC, with actual houses in which lived the
            researchers and the people working in the many buildings. I
            was going to share one of those houses with other three
            students who graduated in the last year, all from different
            fields, in a philosophy of "cultural exchange" between the
            different subjects that were studied there. The professor
            only took me to the facility, then he would go back to his
            job at the university in a few days; when we arrived, in
            late afternoon, he left me at the door of what would become
            my home for the next years with my key and my luggage, and
            left to set an experiment on track with his research group.
        </p>
        <p>
            I opened the door, scared and excited at once, and entered a
            white hallway, at the end of which there was a big library,
            going up to the ceiling. I closed the door behind me, put
            down my bags and took a few steps down the hall, when I saw
            a short girl come out of a room near the library.
        </p>
        <p>
            "Hey, you're the new guy! They said we would have a new
            housemate, I'm glad we had an empty room," she said smiling,
            with a faint French accent, "I'm Marie Beauchene,
            biologist." She came closer to me and held her hand up.
        </p>
        <p>
            "I'm Jake Berti, physicist," I shook her hand, smiling back
            at her, "Where can I put my things?"
        </p>
        <p>
            "Oh, right! That's your room," she pointed to one of the
            four doors lined at my right, "they're not enormous, but
            there's definitely enough space." After I moved my things
            from the hallway, I asked her if the others were outside.
        </p>
        <p>
            "No, they're closed in their rooms, as always." She shouted
            towards two closed doors near mine, "Tore! Leonore! Come
            greet the new guy!" After a few seconds, one of the doors
            opened just enough to let a mass of blond curly hair appear,
            followed by a pair of ice blue eyes and the rest of a quite
            tall guy.
        </p>
        <p>
            "Hey, welcome! I'm Tore Beck, computer scientist." He had a
            thick northern accent, maybe from Norway or Sweden. "I'm
            sorry I didn't hear you, I was working on a project."
        </p>
        <p>
            "No you weren't, you were playing online as usual." A
            Spanish or Portuguese girl with long straight black hair
            peeked from the other room "I'm Leonore Arce by the way,
            mechanical engineering. I'm glad I was still here, I was
            getting ready to go to work, I nearly missed you. A few
            rules: never enter my room, and if you absolutely must at
            least don't touch anything on the desk. You can borrow my
            books, but the first time I find any of them ruined the
            culprit pays for it. My computers are off limits in every
            circumstance, except if I say so. Everything clear?" I
            answered with a firm "Yes ma'am!"
        </p>
        <p>
            We immediately exchanged telephone numbers, and they added
            me in their group chat, then Tore went back in his room, and
            while Leonore was getting ready Marie showed me around; the
            house wasn't very big, but it had everything: a living room
            with a small kitchen area, a shared bathroom and a closet.
            Then she brought me upstairs and showed me the best part: a
            whole floor dedicated to a multidisciplinary laboratory,
            filled with all the equipment needed for most experiments.
        </p>
        <p>
            "You're probably going to spend a lot of time here. We sure
            do; at the beginning it was just the excitement of having a
            lab at home, then it became more of a second living room.
            Obviously the usual rules about labs apply, like no food and
            all that, but for the rest you can do what you want here.
            Leonore even installed a stereo, so you can come here,
            listen to some music, read a book, anything. The place is
            completely soundproof, because of some particularly loud
            machines, so if you ever want to listen to heavy metal in
            the middle of the night you just come here, close the door,
            and play whatever you want."
        </p>
        <p>
            "This is fantastic," I replied in awe. "And we can do what
            we want with it?"
        </p>
        <p>
            "Yes. Well, its official purpose is to allow us to bring
            some work home, for example sometimes I happen to have still
            analysis to do at the end of my shift, so I bring the
            samples home and finish here, but at the end of the day
            until you break something no one is going to tell you
            anything for doing what you want at your home."
        </p>
        <p>
            While we went downstairs she asked, "So, what do you think
            of your new house?"
        </p>
        <p>
            "It's amazing, and you guys are brilliant!"
        </p>
        <p>
            "Thank you," she smiled.
        </p>
        <p>
            Lenore had already left when we got in the kitchen, where
            Tore was cooking some fish; while we ate they explained to
            me how they decided to manage food; each of us had half a
            cupboard, plus a whole shared one, and a shelf in the
            fridge. Since the house had been built less than a year
            before, the kitchen was new, but Lenore had decided that the
            oven was off-limits for the whole summer, so she did her
            magic and now it was impossible to turn on.
        </p>
        <p>
            "You'll discover that she does that a lot," explained Thora.
            "If she decides that we need something she builds it in a
            minute, but if she decides that something is annoying she
            turns it off in even less time. She's very impulsive, but
            the bright side is that last February she woke up freezing
            in the middle of the night and before noon the heating
            system was upgraded in the whole house."
        </p>
        <p>
            "In time you'll learn to interpret her; it's not difficult
            after all, she's very straight-forward: most times she
            simply finds an issue and solves it. The only problem is
            when you don't agree with her on said issue," added Marie.
        </p>
        <p>
            In the evening Daniel texted me asking if I wanted to video
            chat; I was dead tired by the long train ride, and I was
            still unpacking my things, so we just texted, but I promised
            we would see each other the next day.
        </p>
        <p>
            After a night of nervous sleep, I went to the physics
            building to complete my registration. My research group
            would be studying the causes of an interference similar to
            the one that I had found writing my thesis; what at the time
            looked like a strange but quite insignificant maintenance
            problem, had gained a lot of weight in the next few weeks,
            when a similar data distortion showed up in nearly all the
            particle physics and cosmology related experiments
            performed. We would be trying to understand a cause, along
            with other groups from the few other scientific facilities
            around the world that had managed not to be fully dedicated
            to war research. As I entered the building, I found myself
            in a huge hall sunlit through a glass roof, full of people
            just arriving like me or going home after a night of work;
            just at the entrance there was the receptionist's desk,
            where a well-dressed man was typing on a keyboard
        </p>
        <p>
            "Hello," I approached the desk. The man smiled:
        </p>
        <p>
            "Hi, I'm Aleksandr, how can I help you?"
        </p>
        <p>
            "I'm Jake Berti, I arrived yesterday from Italy, I need to
            complete my registration." He typed something on the
            computer:
        </p>
        <p>
            "Oh, yes, Jake, you'll just need to sign some papers, then
            they'll give you your badge and some brochures about ITOWN,
            just follow the corridor," he pointed at his left. "The
            registration office is the last one on the right. If you
            ever need something, just ask me." After I thanked him, I
            followed his directions and got to the office. There a
            secretary explained me what I was allowed to do and what I
            wasn't, how lunch and dinner times worked, what the badge
            was for and how generally things worked there at the physics
            department, all this while she made me sign a couple
            security and privacy papers. When we were finished I asked
            her when I would meet the others.
        </p>
        <p>
            "Well, because the last of your teammates is arriving in a
            couple days we can't officially form the group, yet, so I
            can't give you their telephone numbers; since Candice will
            be in charge of your group, she already has your contact
            information, when everything's ready she will send you an
            email," she concluded with a smile.
        </p>
        <p>
            I spent the next few days waiting for the email, video
            calling Daniel, and getting used to my new place; Marie and
            Tore were on a break with their groups, so they decided to
            become my mentors, showing me around the city and giving me
            advices about the best cafeterias and bars, the most
            convenient places for grocery shopping, and generally taking
            me city-sighting. Since Lenore was working I barely saw her,
            until the third day I was there she finally had a free
            evening and proposed to cook dinner for everyone, so we got
            to spend some time together.
        </p>
        <p>
            Two more days later I finally received the email, and the
            next morning I went to meet the others at the physics
            department; Aleksandr eyed me as soon as I stepped inside.
        </p>
        <p>
            "Jake! Hi! They sent you the email?"
        </p>
        <p>
            "Hi Aleksandr! Yes, I have to meet my group in the PP4
            laboratory."
        </p>
        <p>
            "PP4, alright! It's in the second basement floor, go down
            that corridor, – he pointed across the hallway – you'll find
            both the elevators and the stairs. Once you're down there
            just follow the signs, they're all over the place."
        </p>
        <p>
            I thanked him, and following the instructions I got to the
            lab, a small room, just enough space for the five desks and
            the informatic equipment we were going to use. Three people
            were already inside, sitting in front of the computers.
        </p>
        <p>
            "Good morning, I'm Jake Berti," I greeted the others. A tall
            woman somewhat older than me spoke first:
        </p>
        <p>
            "Good morning! I'm Candice Villeneuve, I'll be in charge of
            the group. These are Yun Zhu and Faraji Mukantagara, - she
            gestured towards the others, a slender Chinese girl and a
            very muscular Nigerian guy both about my age, and I shook
            their hands - and Georg should join us soon. As I was
            telling them, you're all at your first real lab experience,
            so don't worry if you need some time to settle in, but at
            the same time we're here to work. We're going to look into a
            new form of radiation that has been discovered lately..."
            she was interrupted by a guy with very dark hair knocking on
            the door.
        </p>
        <p>
            "Hello, I'm Georg Brandt." He spoke with a quite thick
            German accent.
        </p>
        <p>
            "Oh, hi, Georg," Candice greeted. She introduced herself
            again, and then introduced Yun, Faraji and me, like she did
            before.
        </p>
        <p>
            "Now that you're all here, we can officially start: as I was
            saying, we're going to do some research about a strange
            radiation kind that was discovered in the last few months.
            It influenced a great deal of experiments all over the
            world, or at least in the parts that still try to do some
            research, and the only reliable conclusion is that it's
            something we never met in the past." While she was speaking,
            I could see that the others were as excited as I was; she
            continued, "We'll be trying to understand some properties of
            this radiation, and whether or not it's dangerous. To do
            this, ITOWN granted us almost free access to the particle
            accelerator and to the orbital telescope, and by that I mean
            that while the waiting list for both is incredibly long, we
            can use them any time they're not booked, without the need
            for an evaluation by the committees. Living here, you'll
            find out that the bureaucracy is hell, so skipping the
            evaluation is a breath of fresh air. Yes?" Yun had raised
            her hand.
        </p>
        <p>
            "I think I missed I part. Why do we need both the
            accelerator and the telescope? Aren't we going to study
            particle physics?"
        </p>
        <p>
            "Well, that's the point: the reason this radiation, and our
            research by association, is so important is that it appears
            in both particle physics and cosmology. Some believe it
            could be a link between General Relativity and the Standard
            Model, others think it could be the finishing touch to
            String Theory... The only thing everyone agrees on is that
            it's weird, and it needs studying. This is also the reason
            why you and Jake are specialized in particle physics, while
            Georg and Faraji are specialized in cosmology.
        </p>
        <p>

        </p>
    </body>

</html>
